# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#GENERAL CREDENTIALS#

PORT=3370
AUTH_SECRET=e5a1496467159e9cb42ca74d21bd495e

#DEVELOPMENT CREDENTIALS#

API_URL= http://localhost:3370

DATABASE_URL="mysql://root:docker@localhost:3306/edydataTestApi"
# Modelo de Connection String #
# provider://user:password@server:port/db #
